<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ShoppingCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.ShoppingCart">
        <id column="cart_id" property="cartId" />
        <result column="params_id" property="paramsId" />
        <result column="user_id" property="userId" />
        <result column="cart_num" property="cartNum" />
        <result column="cart_time" property="cartTime" />
        <result column="product_price" property="productPrice" />
        <result column="product_id" property="productId" />
    </resultMap>

    <resultMap id="VOResultMap" type="com.example.mybatisplus.model.vo.ShoppingCartVO">
        <association property="shoppingCart" javaType="com.example.mybatisplus.model.domain.ShoppingCart">
            <id column="cart_id" property="cartId" />
            <result column="params_id" property="paramsId" />
            <result column="user_id" property="userId" />
            <result column="cart_num" property="cartNum" />
            <result column="cart_time" property="cartTime" />
            <result column="product_price" property="productPrice" />
            <result column="product_id" property="productId" />
        </association>
        <association property="product" javaType="com.example.mybatisplus.model.domain.Product">
            <id column="product_id" property="productId" />
            <result column="product_name" property="productName" />
            <result column="category_id" property="categoryId" />
            <result column="root_category_id" property="rootCategoryId" />
            <result column="sold_num" property="soldNum" />
            <result column="product_status" property="productStatus" />
            <result column="content" property="content" />
            <result column="gmt_creat" property="gmtCreat" />
            <result column="gmt_modify" property="gmtModify" />
        </association>
        <association property="productParams" javaType="com.example.mybatisplus.model.domain.ProductParams">
            <id column="param_id" property="paramId" />
            <result column="product_id" property="productId" />
            <result column="weight" property="weight" />
            <result column="gmt_create" property="gmtCreate" />
            <result column="gmt_modify" property="gmtModify" />
            <result column="product_price" property="productPrice" />
            <result column="product_num" property="productNum" />
            <result column="sort" property="sort" />
        </association>
        <association property="productImg" javaType="com.example.mybatisplus.model.domain.ProductImg">
            <id column="id" property="id" />
            <result column="product_id" property="productId" />
            <result column="url" property="url" />
            <result column="sort" property="sort" />
            <result column="is_main" property="isMain" />
            <result column="gmt_create" property="gmtCreate" />
            <result column="gmt_modify" property="gmtModify" />
        </association>
    </resultMap>

    <sql id="base_col">
        cart_id,params_id,user_id,cart_num,cart_time,product_price,product_id
    </sql>

    <select id="cartList" resultMap="VOResultMap">
        select * from shopping_cart s LEFT JOIN product as p ON s.product_id = p.product_id
                                      LEFT JOIN product_params  as pp ON s.params_id = pp.param_id
                                      LEFT JOIN product_img as pi ON s.product_id = pi.product_id
        where s.user_id = #{user_id} and pi.is_main = 1
    </select>

</mapper>
